{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    ["@babel/plugin-transform-react-jsx", {
      "runtime": "automatic",
      "importSource": "react"
    }],
    ["module-resolver", {
      "root": ["./src"],
      "extensions": [".js", ".jsx", ".ts", ".tsx", ".scss"]
    }],
    ["react-css-modules", {
      "generateScopedName": "[name]__[local]___[hash:base64:5]",
      "webpackHotModuleReloading": true
    }]
  ]
}