/* the body background color of the device */
$color: #262626;

.pocketOperatorPageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #262625;
}

.container {
  perspective: 2000px;
  perspective-origin: 50% 50%;
  overflow: hidden;
  >* {
    overflow: hidden;
  }
}

.pocketOperatorInTotal {
  width: fit-content;
  height: fit-content;
  position: relative;
  overflow: hidden;
}

.body {
  border-radius: 16px;
  width: 380px;
  height: 700px;

  font-family: "Open Sans", sans-serif;
  user-select: none;

  background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255, 255, 255, 0.1) 15%, transparent 18%) 8px 9px;

  background-color: $color;
  background-size: 3px 3px;

  display: grid;
  grid-template-columns:
    [left-border] 30px [left-main] auto [right-main] 32px [right-border];
  grid-template-rows:
    [row-top] 130px [after-title] 10px [lcd-start] 126px [lcd-end] 20px [top-buttons-start] 50px [top-buttons-end] 20px [button-start] auto [button-end] 50px [bottom];

  font-size: 20px;
  box-shadow:
    inset 0 0 35px 5px rgba(0, 0, 0, 0.25),
    inset 0 2px 1px 1px rgba(20, 20, 20, 0.9),
    inset 0 -2px 1px 0 rgba(0, 0, 0, 0.25),
    inset -1px -1px 1px 0px rgba(255, 255, 255, 0.2);
}