.cutout {
  $cc: 30;
  grid-row: row-top;
  background-color: rgba($cc, $cc, $cc, 0.5);
  height: 63px;
  width: 28px;
  border-radius: 16px;
  margin: auto;
  margin-bottom: 7px;
  color: #282828;
  text-shadow:
    1px 0 1px rgba(255, 255, 255, 0.1),
    0 1px 2px rgba(0, 0, 0, 0.5);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: filter 0.1s ease-out;

  &:hover {
    filter: brightness(80%);
    cursor: pointer;
  }
}

.leftCutout {
  @extend .cutout;
  grid-column: left-border;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-left: -2px;

  >* {
    margin-top: -4px;
    transform: rotate(90deg);
    margin-left: -1px;
  }

  text-orientation: mixed;
  font-size: 14px;
  text-align: center;
  box-shadow: inset 0 1px 5px 2px rgba(0, 0, 0, 0.7);

  &:hover {
    .tooltip1 {
      display: block;
    }
  }
}

.rightCutout {
  @extend .cutout;
  grid-column: right-main;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0;

  box-shadow:
    inset 0 1px 5px 2px rgba(0, 0, 0, 0.7),
    inset 1px -1px 1px 0 rgba(255, 255, 255, 0.35);

  &:hover {
    .tooltip2 {
      display: block;
    }
  }

  >* {
    margin-left: 1px;
  }
}

.operatorText {
  grid-column: left-main;
  grid-row: row-top;
  color: white;
  margin-top: auto;
  margin-left: 8px;

  text-shadow:
    1px 0 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(255, 255, 255, 0.1);
}

.buttonsTop {
  grid-column: left-main;
  grid-row: top-buttons-start;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-left: -5px;
  margin-right: -5px;
}

.buttons {
  grid-column: left-main;
  grid-row: button-start;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.button {
  border-radius: 100%;
  width: 45px;
  height: 45px;
  background-color: black;
  border: 3px solid grey;
  color: white;
  text-align: center;
}

.bottomCutoutContainer {
  grid-row: button-end;
  grid-column: left-main;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}

.bottomCutout {
  width: 35px;
  height: 18px;
  border-radius: 20px;
  background-color: black;
  margin: auto;
  padding: auto;
  margin-top: 6px;
  box-shadow:
    0 0 35px 5px rgba(0, 0, 0, 0.25),
    0 2px 1px 1px rgba(20, 20, 20, 0.9),
    0 -2px 1px 0 rgba(0, 0, 0, 0.25);
}

// tooltip 
.tooltip {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(30%, 30%);
  background-color: rgba(0, 0, 0, 0.8);

  width: 100px;
  color: white;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  z-index: 9999;
  display: none;
  position: hidden;
  transition: all 300ms ease-out;
  box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.tooltipText {
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 100%;
  color: white;
  text-shadow: 0 0 1px rgba(0, 0, 0, 0.8);
}

.tooltip1 {
  @extend .tooltip;
}

.tooltip2 {
  @extend .tooltip;

  top: 0;
  left: 0;
  transform: translate(-110%, 10%);
}