$transitionTime: 0.025s;
$transitionEase: ease-in-out;

.magnifyingGlassContainer {
  position: absolute;
  transition: all 0.4s linear;
}

.magnifyingGlass {
    position: relative;
    width: fit-content;
    height: fit-content;
    pointer-events: none;
}

.lens {
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;

    transform: translate(-50%, -50%);

    transition:
        width $transitionTime $transitionEase,
        height $transitionTime $transitionEase,
        border-radius $transitionTime $transitionEase;

    .lensBody {
        content: "";
        position: relative;
        width: 100%;
        height: 100%;
        transition:
            width $transitionTime $transitionEase,
            height $transitionTime $transitionEase,
            border-radius $transitionTime $transitionEase,
            border-top-left-radius $transitionTime $transitionEase,
            border-top-right-radius $transitionTime $transitionEase,
            border-bottom-left-radius $transitionTime $transitionEase,
            border-bottom-right-radius $transitionTime $transitionEase,
            box-shadow 2s ease-in;


        box-shadow:
            inset 0 0 10px 2px rgba(255, 255, 255, 0.8),
            0 0 2px 1px rgba(255, 255, 255, 0.8);
    }
}